<div class="container">
  
  <div class="row">
    <div class="col-md-12 text-center">
      <h1>
        {{ title }}!
      </h1>
      <p>Feel fee to add some blocks! :) </p>
    </div>
  </div>

  <div class="row bottom20 center">
    <p><button class="btn btn-success" (click)="addBlock();">Add New Block</button></p>
  </div>

  <div class="row">
    <div *ngFor="let block of blocks; let i = index" class="col-md-3">
      <div class="blockheader bg-blue">
        <h3>{{block.name}}</h3>
        <button class="btn btn-danger" (click)="removeBlock(i);">X</button>
      </div>
      <div class="blockbody bg-blue-light">
        <p>{{block.body}}</p>
      </div>
      <!-- block! -->
    </div>

</div>

